<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bbs</title>
    <link rel="stylesheet" href="{{static_url("common.css")}}">
    <!--<link rel="stylesheet" href="/sss/static/common.css">-->
    <style>

        .box {
            width: 200px;
            height: 200px;
            background-color: pink;
        }
    </style>
</head>
<body>
    <form  method="post" action="/index">
        <input type="text" name="name">
        <input type="submit" value="提交">
    </form>
</body>
</html>