<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="file" id="img"/>
<input type="button" onclick="UploadFile();"/>
<script>
    function UploadFile() {
        var fileObj = document.getElementById("img").files[0];

        var form = new FormData();
        form.append("k1", "v1");
        form.append("fff", fileObj);

        var xhr = new XMLHttpRequest();
        xhr.open("post", '/file', true);
        xhr.send(form);
    }
</script>
</body>
</html>