<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>domain A</title>
</head>
<body>
<input type="button" value="ajax" onclick="DoAjax();">
<input type="button" value="JsonpAjax" onclick="JsonpAjax();">

<script type="text/javascript" src="/sss/jquery-1.12.4.min.js"></script>
<script>
    function DoAjax() {
        $.ajax({
{#            url: '/index',#}
{#            url: 'http://www.d1.com:8001/index',#}
            url: 'http://www.d2.com:8002/index',
            type: "POST",
            data: {"k1": "v1"},
            success: function (arg) {
                console.log(arg);
            }
        })
    }
    function JsonpAjax() {
        var tag = document.createElement('script');
        tag.src = "http://www.d2.com:8002/index";
        document.head.appendChild(tag);
    }
</script>
</body>
</html>