<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跨域请求最新电视节目清单</title>
</head>
<body>

<h1>跨域请求最新电视节目清单</h1>
<input type="submit" value="XmlSendRequest-jsonp" onclick="XmlSendRequest();"/>

<input type="submit" value="JqSendRequest-jsonp" onclick="JqSendRequest();"/>

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    // 客户端定义回调函数
    function call(arg) {
        console.log('客户端定义回调函数执行：', arg);
    }

    function XmlSendRequest() {
        // 创建script标签
        var tag = document.createElement('script');
        // 指定src
        tag.src = "http://cache.video.iqiyi.com/jp/avlist/202861101/1/?callback=call";
        // 添加到head标签中
        document.head.appendChild(tag);
        // 删除script标签
        document.head.removeChild(tag);
    }

    function JqSendRequest() {
        $.ajax({
            url: "http://cache.video.iqiyi.com/jp/avlist/202861101/1/",
            type: 'GET', // POST 也会自动转换为GET请求
            dataType: 'jsonp',
            jsonp: "callback",
            jsonpCallback: 'call', // 请求成功返回后，客户端执行call函数
            success: function (data, statusText, xmlHttpRequest) {
                // 未指定jsonCallback时，则自定执行方法
                console.log('success 回调执行:', data);
            }
            // 如上请求如 http://cache.video.iqiyi.com/jp/avlist/202861101/1/?callback=call
        })

    }
</script>
</body>
</html>